version: "3.8"

services:
  slurm:
    image: giovtorres/docker-centos7-slurm:21.08.6
    hostname: slurmctl
    container_name: slurmctl
    stdin_open: true
    tty: true
    working_dir: /enjoy-slurm
    environment:
      PYTHON: "3.12"
    volumes:
      - ${RUNNER_WORKSPACE}/enjoy-slurm:/enjoy-slurm
